<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>
        if(<%=session.isClient || false%>) {
            require('electron').remote.getGlobal('globalVars').RichPresence = {
                details: '관리자 페이지',
                startTimestamp: Date.now(),
                largeImageKey: 'main',
                instance: true
            }
        }
    </script>
    <script>if (window.module) module = window.module;</script>
    <title><%=servername%> - 채보 서명</title>
</head>

<body>
<h1>채보 서명</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<form action="/signnote" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="InputFile">채보 업로드</label>
        <input type="file" name="file" class="form-control-file" id="InputFile" required>
    </div>
    <button type="submit" class="btn btn-primary">업로드</button>
</form>
</body>
</html>