<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <link rel="stylesheet" href="/css/admin-user-menu.css">
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>
        if(<%=session.isClient || false%>) {
            require('electron').remote.getGlobal('globalVars').RichPresence = {
                details: '관리자 페이지',
                startTimestamp: Date.now(),
                largeImageKey: 'main',
                instance: true
            }
        }
    </script>
    <script>if (window.module) module = window.module;</script>
    <title>유저 관리 - 유저 ID 입력</title>
</head>

<body>
<h1>유저 관리 - 유저 ID 입력</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>
<%-include('./layout/friend')%>

<form action="/admin/user">
    <h4>둘중 하나만 입력해도 됩니다.</h4>
    <input type="text" name="nickname" id="input" placeholder="관리 대상 유저 닉네임을 입력해 주세요.">
    <br><input type="text" name="id" id="input" placeholder="관리 대상 유저 ID를 입력해 주세요.">
    <br><br><button class="btn btn-primary" type="submit">확인</button>
</form>
</body>
</html>