<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/admin-mail.js"></script>
    <link rel="stylesheet" href="/css/admin-mail.css">
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>if (window.module) module = window.module;</script>
    <title>관리자 메일 전송기</title>
</head>

<body>
<h1>관리자 메일 전송기</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<div id="main">
    <div id="left">
        <h2>메일 작성</h2>
        <form action="/admin_mail" method="post">
            <p>메일 제목 : <input type="text" name="subject" id="input" placeholder="메일의 제목을 입력하세요." required></p>
            <p>메일 내용 : <textarea name="html" id="html" placeholder="메일의 내용을 입력하세요. HTML을 사용할 수 있습니다." required></textarea></p>

            <input type="submit" value="전송">
        </form>
    </div>
    <div id="right">
        <h2>HTML 미리보기</h2>
        <div id="html_preview"></div>
    </div>
</div>
</body>
</html>