<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>if (window.module) module = window.module;</script>
    <title>관리자 페이지</title>
</head>

<body>
<h1>관리자 페이지</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<h2><a href="/admin/user">유저 관리</a></h2>
<h2><a href="/admin/mail">단체 이메일 전송기</a></h2>
</body>
</html>