<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <title><%=servername%> - 비밀번호 변경</title>
</head>

<body>
<h1>비밀번호 변경</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<form action="/change_password" method="post">
    <input type="hidden" name="token" value="<%=token%>">
    <div class="form-group">
        <label for="InputEmail">새 비밀번호</label>
        <input type="password" class="form-control" id="InputEmail" name="password" placeholder="새 비밀번호" required>
    </div>
    <button type="submit" class="btn btn-primary">변경</button>
</form>
</body>
</html>