<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>if (window.module) module = window.module;</script>
    <title><%=servername%> - 비밀번호 찾기</title>
</head>

<body>
<h1>비밀번호 찾기</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>
<%-include('./layout/friend')%>

<form action="/find_my_password" method="post">
    <div class="form-group">
        <label for="InputEmail">비밀번호를 찾을 이메일 주소를 입력해 주세요.</label>
        <input type="email" class="form-control" id="InputEmail" name="email" placeholder="이메일 주소" required>
    </div>
    <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
    </div>
</form>
</body>
</html>