.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.comment {
    margin-top: 20px;
    margin-bottom: 20px;
}
.comment-text {
    position: relative;
    bottom: 80px;
    left: 120px;
    width: 80%;
}
.creator-comment {
    background-color: #caf1ca;
}
.admin-comment {
    background-color: LightCyan;
}