.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.comment-text {
    position: relative;
    bottom: 80px;
    left: 120px;
    width: 80%;
}
.creator-comment {
    background-color: #b1eab1;
}
.admin-comment {
    background-color: LightCyan;
}