body {
    color: white;
    background-color: black;
}
.note_line {
    border: solid 1px white;
}
.chat {
    color: black;
}
input {
    background-color: black;
    color: white;
}
.user {
    background-color: black;
    color: white;
    border: solid 1px white;
}