<script src="/js/friend.js"></script>
<script src="/js/howler.js"></script>
<script>
    if(typeof socket_address == 'undefined') socket_address = "<%=socket%>";
</script>

<div aria-live="polite" aria-atomic="true" style="position: relative; height: 0px; top: 10px; right: 10px;">
    <div id="toast_zone" style="position: absolute; top: 0; right: 0;"></div>
</div>