<%if(Error != '' && Error != null) {%><div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%-Error%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<%}%>
<%if(Info != '' && Info != null) {%><div class="alert alert-primary alert-dismissible fade show" role="alert">
    <%-Info%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<%}%>
<%if(Warn != '' && Warn != null) {%><div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%-Warn%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<%}%>